{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="padding-double">
    <h1>Products</h1>
</div>
<div class="divider-block"></div>
<div class="grid gap-px products">
    {% for product in products %}
        <div class="padding-double"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></div>
    {% endfor %}
    <div class="vstack centered action">
        <p>Add another product</p>
        <a href="{{ path('new_product') }}" class="btn">Add</a>
    </div>
</div>
<section>
</section>
{# <div class="divider-block"></div> #}
{% endblock %}
