{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="padding-double">
    <div class="box smallest">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
