{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="padding-double">
    <form class="vstack gap-double">
        <div class="vstack smallest gap-half">
            <label for="name">Name</label>
            <input id="name">
        </div>

        <div class="vstack smallest gap-half">
            <label for="price">Price</label>
            <input id="price">
        </div>
    </form>
</div>
{% endblock %}
