:root {
    --font-family:
        -apple-system, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

html,
body {
    -webkit-text-size-adjust: none;
    background-color: var(--color-background);
    color: var(--color-background-content);
    font-family: var(--font-family);
    line-height: 1.4;
    overflow: initial;
    text-size-adjust: none;
    margin: 0;

    display: flex;
    flex-direction: row;

    width: 100%;
}

:where(a) {
    display: inline-block;
}

:where(main) {
    width: 100%;
}

:where(h1) {
    margin-block-start: var(--quad-size);
}
