:where(button),
.btn {
    appearance: none;
    border: none;
    width: fit-content;
    padding: 0;
    padding-block: var(--half-size);
    padding-inline: var(--default-size);
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    border-radius: var(--small-radius);
    cursor: default;
    text-decoration: none;
    line-height: 1.1;

    &:hover {
        filter: brightness(0.7);
    }

    &:focus-visible {
        outline: var(--color-primary) solid 1px;
        outline-offset: 2px;
    }

    &.btn-danger {
        background-color: var(--color-error);
        color: var(--color-primary-content);
    }

    &.btn-faint {
        background-color: var(--color-almost-background);
        color: var(--color-primary);
        /* border: 1px solid var(--color-primary); */
    }

    &.btn-toggle {
        position: relative;
        padding-inline-start: var(--double-size);

        &::before {
            content: "";
            position: absolute;
            left: var(--default-size);
            top: 50%;
            transform: translateY(-50%);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: var(--color-success);
        }

        &[data-state="open"]::before {
            background-color: var(--color-error);
        }
    }
}
