:root {
    --lch-black: 0% 0 0;
    --lch-white: 100% 0 0;
    --lch-gray: 96% 0.005 96;
    --lch-gray-dark: 92% 0.005 96;
    --lch-gray-darker: 75% 0.005 96;
    --lch-gray-darkest: 25% 0.005 96;

    --red-100: oklch(0.97 0.02 25);
    --red-200: oklch(0.92 0.05 25);
    --red-300: oklch(0.86 0.09 25);
    --red-400: oklch(0.8 0.14 25);
    --red-500: oklch(0.73 0.21 25);
    --red-600: oklch(0.63 0.29 25);
    --red-700: oklch(0.53 0.24 25);
    --red-800: oklch(0.41 0.19 25);
    --red-900: oklch(0.29 0.13 25);

    --color-error: var(--red-500);
    --color-almost-background: oklch(var(--lch-gray-darkest));
    --color-border: oklch(var(--lch-gray-darkest));
    --color-background: oklch(var(--lch-black));
    --color-background-content: oklch(var(--lch-white));
    --color-primary: oklch(var(--lch-white));
    --color-primary-content: oklch(var(--lch-black));
    --color-muted-content: oklch(var(--lch-gray-darker));
}

@media (prefers-color-scheme: light) {
    :root {
        --color-error: var(--red-600);
        --color-almost-background: oklch(var(--lch-gray));
        --color-border: oklch(var(--lch-gray-dark));
        --color-background: oklch(var(--lch-white));
        --color-background-content: oklch(var(--lch-black));
        --color-primary: oklch(var(--lch-black));
        --color-primary-content: oklch(var(--lch-white));
        --color-muted-content: oklch(var(--lch-gray-darkest));
    }
}
