:root {
    --font-small-responsive: clamp(0.8rem, 2cqi, 1rem);
    --font-medium-responsive: clamp(1rem, 2.5cqi, 1.4rem);
    --font-large-responsive: clamp(1.3rem, 4cqi, 1.8rem);
    --font-x-large-responsive: clamp(1.8rem, 5cqi, 3.2rem);

    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.4rem;
    --font-x-large: 1.8rem;
    --font-xx-large: 2.4rem;
}