.products {
    /*background: var(--color-almost-background);*/
    /*gap: 0;*/

    & > div {
        background: var(--color-background);
        aspect-ratio: 1/1;
        /*outline: 1px solid var(--color-border);*/
        box-shadow: 0 0 0 1px var(--color-border);
    }

    &[data-list="true"] {
        grid-template-columns: 1fr;
    }

    &[data-list="true"] > div {
        aspect-ratio: unset;
    }

    & .action {
        color: var(--color-muted-content);
    }

    & p {
        margin: 0;
    }
}

.product__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--default-size);
    margin-block-start: var(--quad-size);

    & h1 {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--half-size);
        & a {
            text-decoration: none;
            color: var(--color-muted-content);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .product__title-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--half-size);
    }
}
