:root {
    --sidebar-width: 300px;
}

.sidebar {
    height: 100%;
    flex-shrink: 0;

    &[data-open="true"] {
        width: var(--sidebar-width);
        border-inline-end: 1px solid var(--color-border);
    }
}

@media (max-width: 600px) {
    .sidebar[data-open="true"] {
        width: 100%;
        border: none;
    }
}
