<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content"
        >

        {{ turbo_exempts_page_from_cache() }}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <section class="sidebar" data-open="false">
        </section>
        <main class="bordered">
            {% block navigation %}
            {#
                <div class="nav">
                    <ul>
                        <li><a href="{{ path('products') }}">Products</a></li>
                    </ul>
                    <a class="btn" href="{{ path('new_product') }}">New product</a>
                </div>
            #}
            {% endblock %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
